header {
    background-image: linear-gradient(to bottom right, blue, purple);
    color: white;
}

header > h1 {
    font-size: 40px;
    padding: 2vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    width: 100vw;
    height: 94vh;
    display: flex;
}

.search {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.search > h2 {
    font-size: 35px;
    margin: 10px;
}

.search > input {
    font-size: 25px;
    width: 95%;
    margin: 10px;
}

.search > button {
    font-size: 20px;
    width: 50%;
    margin: 0 10px;
}

.results {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.main-result {
    height: 50%;
    border: 1px solid black;
}

.main-result h3 {
    font-size: 30px;
    margin-top: 15px;
    margin-left: 5px;
}

.main-result h4 {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 5px;
}

.five-day {
    height: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.forecast-card {
    background-color: darkblue;
    color: white;
    width: 200px;
    height: 250px;
    margin: 10px;
}

.date {
    font-size: 30px;
    margin: 10px 5px;
}

.temp {
    font-size: 25px;
    margin: 10px 5px;
}

.icon {
    font-size: 25px;
    margin: 10px 5px;
}

.wind {
    font-size: 25px;
    margin: 10px 5px;
}

.humidity {
    font-size: 25px;
    margin: 10px 5px;
}